<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460056647131-cnv8idusuf4rv9krb6abkr5nfmpir6ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460056647131-cnv8idusuf4rv9krb6abkr5nfmpir6ii</string>
	<key>API_KEY</key>
	<string>AIzaSyC-afianXPGz3NojPnFBu4Cceg9pWb3PD0</string>
	<key>GCM_SENDER_ID</key>
	<string>460056647131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentbike</string>
	<key>PROJECT_ID</key>
	<string>rentbike-7056e</string>
	<key>STORAGE_BUCKET</key>
	<string>rentbike-7056e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460056647131:ios:4d4e2c3c5e8aea77b343fe</string>
</dict>
</plist>